
    body {
      font-family: Arial, sans-serif;
      padding: 0px;
    }

    .producto {
      width: 260px;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 15px;
      text-align: center;
    }

    .producto img {
      width: 100%;
      border-radius: 6px;
    }

    .producto h3 {
      margin: 10px 0;
    }

    .precio {
      font-weight: bold;
      color: #2c7;
      margin: 8px 0;
    }

    button {
      background-color: #2c7;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      background-color: #249e5c;
    }

    .carrito {
      margin-top: 30px;
      max-width: 300px;
    }

    .carrito h2 {
      margin-bottom: 10px;
    }

    .item {
      font-size: 14px;
      margin-bottom: 5px;
    }

    /*categorias*/
    .menuCategorias a {
  transition: background 0.25s ease;
}

